extends layout
block head
    script(src="#{rootPath}/js/lib/bootbox.min.js")
    script.
        var model = '#{model_name}';
        var dialog = #{dialog||false};
        var hooks = !{hooks||'null'};

block breadcrumb
    span.divider /
    a(href="#{rootPath}/model/#{model_name}") #{model_label}
    span.divider /
    | #{__('editor')}

block body
    - if (!isDialog)
        .page-header
            h2 #{model_label}

    - if (errors)
        p.alert.alert-error #{__('Saving failed, fix the following errors and try again.')}
    - if (generalError)
        p.alert.alert-error #{generalError}
    form#document(enctype="multipart/form-data",method="post").clearfix
        != renderedDocument
        - if(subCollections && subCollections.length)
            - each sub in subCollections
                a.subCollection(href="#{rootPath}/model/#{sub.model}?#{sub.field}=#{sub.value}",style="display:#{sub.count>0?'':'none'};")
                    span(bablic-exclude) #{sub.label}
                    span - #{sub.count? sub.count + ' ' + __('Items') : __('No items')}
        p.submit.btn-group
            - if(editable)
                button#saveButton.btn.btn-large.btn-primary(type='submit',data-saving-text="Saving...") #{__('Save')}
            a#cancelButton.btn.btn-large(href="#{rootPath}/model/#{model_name}") #{__('Cancel')}
            - if (allow_delete && deleteable)
                button#deleteButton.btn.btn-large.btn-danger(type='button',data-loading-text='Deleting...',data-confirm='true') #{__('Delete')}
            - each action in actions
                - if (action.value != 'delete')
                    button.action.btn.btn-large(value='#{action.value}',data-dialogs='#{(action.dialogs || []).join("")}',data-confirm='#{action.confirm}') #{action.label}

            - if(preview)
                button.action.btn.btn-large.preview Preview
