extends layout

block breadcrumb
    span.divider /
    a(href="#{rootPath}/model/#{collectionName}") #{modelName.replace(/_/g,' ')}
    span.divider /
    | editor

block body
    .page-header
        h2 #{modelName.replace(/_/g,' ')} editor

    - if (errors)
        p.alert.alert-error Saving failed, fix the following errors and try again
    form#document(enctype="multipart/form-data",method="post").clearfix
        != renderedDocument
        p.submit.btn-group
            button#saveButton.btn.btn-large.btn-primary(type='submit',data-saving-text="Saving...") Save
            a#cancelButton.btn.btn-large(href="#{rootPath}/model/#{collectionName}") Cancel
            - if (allowDelete)
                button#deleteButton.btn.btn-large.btn-danger(type='button',data-loading-text='Deleting...') Delete

block scripts
    script
        var model = '#{collectionName}';
    script(src="/js/document.js")
    script(src="/js/forms.js")