extends layout

block head
    script.
        var model = '#{model_name}';
    - if (model.static)
        - if (model.static.js)
            - each f in model.static.js
                script(src=f)
        - if (model.static.css)
            - each f in model.static.css
                link(rel='stylesheet', href=f)

block breadcrumb
    span.divider /
    a(href="#{rootPath}/model/#{model_name}") #{model_label}
    span.divider /
    | editor

block body
    .page-header
        h2 #{model_label} editor

    - if (errors)
        p.alert.alert-error Saving failed, fix the following errors and try again.
    form#document(enctype="multipart/form-data",method="post").clearfix
        != renderedDocument
        p.submit.btn-group
            button#saveButton.btn.btn-large.btn-primary(type='submit',data-saving-text="Saving...") Save
            a#cancelButton.btn.btn-large(href="#{rootPath}/model/#{model_name}") Cancel
            - if (allow_delete)
                button#deleteButton.btn.btn-large.btn-danger(type='button',data-loading-text='Deleting...') Delete
