doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title!= pageTitle

        link(rel='stylesheet', href='#{rootPath}/vendor/ui-lightness/jquery-ui-1.10.2.custom.css')
        link(rel='stylesheet', href='#{rootPath}/vendor/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='#{rootPath}/vendor/datetimepicker/bootstrap-datetimepicker.min.css')
        link(rel='stylesheet', href='#{rootPath}/vendor/select2/select2.css')

        link(rel='stylesheet', href='#{rootPath}/css/main.css')
        link(rel='stylesheet', href='#{rootPath}/css/forms.css')
        link(rel='stylesheet', href='#{rootPath}/css/maps.css')

        script(src='#{rootPath}/vendor/jquery-1.9.1.js')
        script(src='#{rootPath}/vendor/jquery-ui-1.10.2.custom.js')
        script(src='#{rootPath}/vendor/bootstrap/js/bootstrap.js')
        script(src='#{rootPath}/vendor/datetimepicker/bootstrap-datetimepicker.min.js')
        script(src='#{rootPath}/vendor/ckeditor/ckeditor.js')
        script(src='#{rootPath}/vendor/select2/select2.js')
        script(src="#{rootPath}/vendor/bootbox.min.js")
        script(src='#{rootPath}/js/clienstrum.js')

        script var root = '#{rootPath}';

        != renderedHead

        block head

        !{global_head}
        script(src='#{rootPath}/js/maps.js')


    body
        - if (!dialog)
            header.navbar.navbar-static-top
                .navbar-inner
                    .container
                        block nav
                            .btn-group.pull-right
                                a.btn.btn-inverse(href='#{rootPath}/')
                                    i.icon-home.icon-white
                                    | &nbsp;Admin
                                a.btn(href="/")
                                    i.icon-share
                                    | &nbsp;Site
                                a.btn(href='#{rootPath}/logout')
                                    .icon-lock
                                    | &nbsp;Logout
                        h1
                            block title
                                a(href='#{rootPath}/') #{adminTitle}
                            block breadcrumb

        .container
            #old-version.alert.alert-error(style='position: fixed;bottom: 1em;right: 1em;width: 30em;height: 4em;border-radius: 10px;display: block;opacity: 0.8;display:none')
                button.close(type='button',data-dismiss='alert') &times;
                strong Warning;
                | There is a newer version of formage.

            #content
                block body

            - if (!dialog)
                footer.footer
                    - if (userPanel)
                        p.user-panel
                            !{userPanel}
                    p
                        a(href='http://github.com/Empeeric/formage') Formage
                        | &nbsp;#{version}, from&nbsp;
                        a(href='http://empeeric.com') Empeeric
                    a(href='http://github.com/Empeeric/formage')
                        img(src='#{rootPath}/images/logo-40.png')

        block scripts

        !{global_script}
