!!! 5
html(lang='en')
    head
        meta(http-equiv='Content-type', content='text/html; charset=utf-8')
        title!= pageTitle

        link(rel='stylesheet', href='#{rootPath}/css/ui-lightness/jquery-ui-1.10.2.custom.css', charset='utf-8')
        link(rel='stylesheet', href='#{rootPath}/css/bootstrap.css', charset='utf-8')
        link(rel='stylesheet', href='#{rootPath}/css/main.css', charset='utf-8')
        link(rel='stylesheet', href='#{rootPath}/css/forms.css', charset='utf-8')

        script(src='#{rootPath}/js/lib/jquery-1.9.1.js')
        script(src='#{rootPath}/js/lib/jquery-ui-1.10.2.custom.min.js')
        script(src='#{rootPath}/js/lib/bootstrap.js')
        script var root = '#{rootPath}';

        != typeof(renderedHead) != 'undefined' ? renderedHead : ''

        block head
    body
        header.navbar.navbar-static-top
            .navbar-inner
                .container
                    block nav
                        .btn-group.pull-right
                            a.btn.btn-inverse(href='#{rootPath}/')
                                i.icon-home.icon-white
                                |  Admin
                            a.btn(href="/")
                                i.icon-share
                                |  Site
                            a.btn(href='#{rootPath}/logout')
                                .icon-lock
                                |  Logout
                    h1
                        block title
                            a(href='#{rootPath}/') #{adminTitle}
                        block breadcrumb

        .container
            #old-version.alert.alert-warning.hide
                button.close(type='button',data-dismiss='alert') &times;
                strong Warning;
                |  There is a newer version of formage-admin.

            #content
                block body

            footer.footer
                p
                    a(href='http://github.com/Empeeric/formage-admin') Formage-Admin
                    |  #{version} , from&nbsp;
                    a(href='http://empeeric.com') Empeeric
                a(href='http://github.com/Empeeric/formage-admin')
                    img(src='#{rootPath}/images/logo-40.png')

            script(type='text/javascript').
                $.getJSON('http://registry.npmjs.org/formage-admin/latest?jsonp=?').done(function (pack) {
                    var version = '#{version}';
                    var latest = pack.version;
                    if (latest > version)
                        $('#old-version').slideDown(100);
                });

        block scripts