extends layout
block body
    script(src="/js/models.js")
    .page-header
        h2.muted Model List
    ul.models
        - each model in models
            li
                .btn-group.pull-right
                    - if(model.is_single)
                        a.btn(href='#{rootPath}/model/#{model.modelName}/document/new') Edit
                    - else
                        a.btn(href='#{rootPath}/model/#{model.modelName}/document/new') New
                        a.btn.btn-info(href='#{rootPath}/model/#{model.modelName}')
                            span(id='viewAll_#{model.modelName}') View All
                h3 #{model.modelName.replace(/_/g,' ')}

