extends layout

block breadcrumb
    span.divider /
    | #{modelName.replace(/_/g,' ')}

block body
    .page-header
        h2 #{modelName.replace(/_/g,' ')}

    #content.row
        div(class='span#{filters.length ? 9 : 12}')
            .btn-toolbar
                - if (createable)
                    a.btn.pull-right.btn-warning(href="#{rootPath}/model/#{modelName}/document/new")
                        i.icon-plus.icon-white
                        |  New <em>#{modelName}</em> item

                - if(search)
                    p
                        form
                            input(type="text",name="_search",value="#{search_value}",style="width:300px")
                            button(type="submit") Search

                - if (sortable)
                    button#reorder.btn.btn-success.pull-left.hide(data-loading-text='Saving...')
                        i.icon-ok.icon-white
                        |  Save Order

                - if (actions.length && documents.length)
                    form.form-inline#actions_forms
                        label.input-prepend
                            span.add-on &nbsp;With selected:
                            select.actions.span2
                                option(value="") ...
                                - each action in actions
                                    option(value='#{action.value}') #{action.label}
                        | &nbsp;&nbsp;
                        button.btn.btn-inverse(type='submit')
                            i.icon-play.icon-white
                            |  GO

            - if (!documents.length)
                p.center No documents yet

            - else
                p.counter Viewing #{start+1}–#{start + documents.length} of #{totalCount} documents

                table.table.table-bordered.table-hover
                    thead
                        tr
                            th.center
                                input.select-all-rows(type='checkbox')
                            - each field in listFields
                                th.table-header-repeat.line-left.minwidth-1
                                    a(href='#{orderLink(field)}') #{field}

                            - if (cloneable)
                                th &nbsp;
                    tbody(class='#{sortable?'sortable':''}')
                        - each doc in documents
                            - var url = rootPath + '/model/' + modelName + '/document/' + doc._id
                            tr(id=doc._id)
                                td.span1.center
                                    input.select-row(type='checkbox')
                                    - if (sortable)
                                        .list-drag
                                            i.icon-resize-vertical

                                - each field in listFields
                                    td.span3
                                        - if (field == 'picture' && doc[field] && doc[field].url)
                                            a(href=url)
                                                img(src=doc[field].url,width=80,height=80)
                                        - else if (editable)
                                            a(href=url) #{doc[field]} &nbsp;
                                        - else
                                            p #{doc[field]}&nbsp;

                                td.span2.btn-group
                                    a.btn.btn-primary(href=url) Edit
                                    - if (cloneable)
                                        a.btn(href=url+'?clone=true') Duplicate

                p.counter Viewing #{start+1}–#{start + documents.length} of #{totalCount} documents
                - if (totalCount > count)
                    .pagination
                        ul
                            - for (var i = 0, page = 1; i < totalCount; i += count, page++)
                                - if (start == i)
                                    li.active
                                        a #{page}
                                - else
                                    li
                                        a(href='#{makeLink("start",i)}') #{page}

        - if (filters.length)
            #filters.span3.well
                h3
                    i.icon-filter
                    | Filters
                    small.pull-right
                        a(href='#{rootPath}/model/#{modelName}') Clear

                ul.nav.nav-list
                    - each filter in filters
                        li.nav-header
                            strong #{filter.key}:
                        - if (current_filters[filter.key])
                            li
                                a(href='#{makeLink(filter.key,"")}') All
                        - else
                            li.active
                                strong All
                        - each value in filter.values
                            - if (value)
                                li
                                    - if (current_filters[filter.key] !== value.value + '' )
                                        a(href='#{makeLink(filter.key, value.value)}') #{value.text}
                                    - else
                                        strong #{value.text}

                        - if (filter.isString)
                            div
                                input(type='text',style='width:217px; !important ',name='#{filter.key}',value='#{current_filters[filter.key] || ""}')
                                button.free_search(data-href='#{makeLink(filter.key, "__replace__")}') search

block scripts
    script
        var startIndex = #{start},
            model = '#{modelName}';
    script(src="/js/model.js")