extends layout.jade

block body
    - each section in sections
        section.row-fluid
            h2
                span #{section.name}
            ul.models
                - each modelConfig in section.models
                    - var url = rootPath + '/model/' + modelConfig.modelName
                    li
                        .btn-group.pull-right
                            - if (modelConfig.is_single)
                                a.btn.btn-default(href='#{url}/document/single') Edit
                            - else
                                a.btn.btn-info(href=url)
                                    span(id='viewAll_#{modelConfig.modelName}') View All
                                - if (!modelConfig.model.discriminators || modelConfig.model.discriminators.length == 0)
                                    a.btn.btn-default(href='#{url}/document/new') New
                        a(href=url + (modelConfig.is_single ? '/document/single' : ''))
                            h3 #{modelConfig.label}

block scripts
    script(src="#{rootPath}/js/models.js")
    script.
        var version = '#{version}';
        $.getJSON('http://www.empeeric.com/api/formage/checkVer', {version: version}).done(function (latest) {
            if (latest > version)
                $('#old-version').show('slow');
            });
