extends layout

block breadcrumb
    span.divider /
    | #{modelName}

block body
    .page-header
        h2 #{modelName}

    .row
        div(class='span#{filters.length ? 9 : 12}')
            .btn-toolbar
                - if (createable)
                    a.btn.pull-right.btn-primary(href="#{rootPath}/model/#{modelName}/document/new")
                        | New <em>#{modelName}</em> item

                - if (sortable)
                    button#reorder.btn.btn-success.pull-left.hide(data-loading-text='Saving...') Save Order

                - if (actions.length)
                    form.form-inline#actions_forms
                        label.input-prepend
                            span.add-on &nbsp;With selected:
                            select.actions.span2
                                option(value="") ...
                                - each action in actions
                                    option(value='#{action.value}') #{action.label}
                        | &nbsp;&nbsp;
                        button.btn.btn-warning(type='submit') GO



            table.table.table-bordered.table-hover
                thead
                    tr
                        th.center
                            input.select-all-rows(type='checkbox')
                        - each field in listFields
                            th.table-header-repeat.line-left.minwidth-1
                                a(href='#{orderLink(field)}') #{field}

                        - if (cloneable)
                            th &nbsp;
                tbody(class='#{sortable?'sortable':''}')
                    - each doc in documents
                        - var url = rootPath + '/model/' + modelName + '/document/' + doc._id
                        tr(id=doc._id)
                            td.span1.center
                                input.select-row(type='checkbox')
                                - if (sortable)
                                    .list-drag
                                        i.icon-resize-vertical

                            - each field in listFields
                                td.span9
                                    - if (editable)
                                        a(href=url) #{doc[field]} &nbsp;
                                    - else
                                        p #{doc[field]}&nbsp;

                            td.span3.btn-group
                                a.btn.btn-primary(href=url) Edit
                                - if (cloneable)
                                    a.btn(href=url+'?clone=true') Duplicate


            p.counter Viewing #{start + 1}–#{start + documents.length} of #{totalCount} documents
            - if (totalCount > count)
                .pagination
                    ul
                        - for (var i = 0, page = 1; i < totalCount; i += count, page++)
                            - if (start == i)
                                li.active
                                    a #{page}
                            - else
                                li
                                    a(href='#{rootPath}/model/#{modelName}?start=#{i}') #{page}

        - if (filters.length)
            .span3
                h3 Filters
                - each filter in filters
                    p #{filter.key}:
                    ul
                        li
                            - if ( current_filters[filter.key])
                                a(href='#{makeLink(filter.key,"")}') All
                            - else
                                span All
                        - each value in values
                            - if (value)
                                li
                                    - if (current_filters[filter.key] !== value.value + '' )
                                        a(href='#{makeLink(filter.key, value.value)}') #{value.text}
                                    - else
                                        span #{value.text}

                        - if (filter.isString)
                            div
                                input(type='text',style='width:217px; !important ',name='#{filter.key}',value='#{current_filters[filter.key] || ""}')
                                button.free_search(data-href='#{makeLink(filter.key,"__replace__")}') search

block scripts
    script
        var startIndex = #{start},
            model = '#{modelName}';
    script(src="/js/model.js")
    script(src="/js/jquery-ui-1.9.0.custom.min.js")