extends layout

block breadcrumb
    span.divider /
    | #{modelName}

block body
    .page-header
        h2 #{modelName}

    .row
        - var cls = filters.length ? 'span9' : 'span12'
        div(class=cls)
            - if (createable) {
                a.btn.pull-right.btn-primary(href="#{rootPath}/model/#{modelName}/document/new")
                    | New <em>#{modelName}</em> item
            - }
            - if (actions.length) {
                form.form-inline
                    label.input-prepend
                        span.add-on &nbsp;With selected:
                        select.actions.span2
                            option ...
                            - for (var i=0; i<actions.length; i++) {
                                option(value='#{actions[i].value}') #{actions[i].label}
                            - }
                    | &nbsp;
                    button.btn.btn-warning#go_button GO
            - }
            table.table.table-bordered.table-hover.table-striped
                thead
                    tr
                        th &nbsp;
                        - for (var i = 0; i < listFields.length; i++) {
                            th.table-header-repeat.line-left.minwidth-1
                                a(href='#{orderLink(listFields[i])}') #{listFields[i]}
                        - }
                        - if (cloneable)
                            th &nbsp;
                - for (var j = 0; j < documents.length; j++) {
                    - var url = rootPath + '/model/' + modelName + '/document/' + documents[j]._id;
                    tr(elm_id="#{documents[j]._id}")
                        - if (sortable) {
                            td.sortable.select_row.span1
                                input(type='checkbox')
                                div.nf_listfield_drag
                        - } else {
                            td.select_row.span1
                                input(type='checkbox')
                        - }
                        - for (var k = 0; k < listFields.length; k++) {
                            th.span6
                                - if(editable)
                                    a(href=url) #{documents[j][listFields[k]]}&nbsp;
                                - else
                                    p #{documents[j][listFields[k]]}&nbsp;
                        - }
                        td.span2.btn-group
                            a.btn.btn-primary(href=url) Edit
                            - if (cloneable) {
                                a.btn(href=url+'?clone=true') Duplicate
                            - }
                - }

            p.counter Viewing #{start + 1}–#{start + documents.length} of #{totalCount} documents
            - if (totalCount > count)
                .pagination
                    ul
                        - for (var i = 0, page = 1; i < totalCount; i += count, page++)
                            - if (start == i)
                                li.active
                                    a #{page}
                            - else
                                li
                                    a(href='#{rootPath}/model/#{modelName}?start=#{i}') #{page}

        - if (filters.length)
            .span3
                h3 Filters
                - for (var i=0; i < filters.length; i++)
                    p #{filters[i].key}:
                    ul
                        li
                            - if ( current_filters[filters[i].key])
                                a(href='#{makeLink(filters[i].key,"")}') all
                            - else
                                span all
                        - for( var j=0; j<filters[i].values.length; j++)
                            - if (filters[i].values[j])
                                li
                                    - if ( current_filters[filters[i].key] !== filters[i].values[j].value + '' )
                                        a(href='#{makeLink(filters[i].key,filters[i].values[j].value)}') #{filters[i].values[j].text}
                                    - else
                                        span #{filters[i].values[j].text}

                        - if ( filters[i].isString)
                            div
                                input(type='text',style='width:217px; !important ',name='#{filters[i].key}',value='#{current_filters[filters[i].key] || ""}')
                                button.free_search(data-href='#{makeLink(filters[i].key,"__replace__")}') search

block scripts
    script
        var startIndex = #{start};
    script(src="/js/model.js")