extends layout

block breadcrumb
    span.divider /
    | #{model.label}

block body
    .page-header
        h2 #{model.label}

    #content.row
        div(class='span#{filters.length ? 9 : 12}')
            .btn-toolbar.clearfix
                - if (creatable)
                    a.btn.pull-right.btn-warning(href="#{rootPath}/model/#{model_name}/document/new")
                        i.icon-plus.icon-white
                        |  New
                        - if (model.singular)
                            strong  #{model.singular}
                        - else
                            strong  #{model_name}
                            |  item

                - if (search)
                    p
                        form
                            input(type="text",name="_search",value="#{search_value}",style="width:300px")
                            button(type="submit") Search

                - if (sortable)
                    button#reorder.btn.btn-success.pull-left.hide(data-loading-text='Saving...', data-saved-text='Saved!')
                        i.icon-ok.icon-white
                        |  Save Order

                - if (actions.length && documents.length)
                    #actions.input-prepend.hide
                        span.add-on With selected: &nbsp;
                        div.btn-group
                            - each action in actions
                                - if (action.value == 'delete')
                                    button.btn.btn-danger(value='#{action.value}')
                                        i.icon-trash.icon-white
                                        |  #{action.label}
                                - else
                                    button.btn(value='#{action.value}') #{action.label}

            - if (!documents.length)
                p.center No documents yet

            - else
                p.counter Viewing #{start+1}–#{start + documents.length} of #{total_count} documents

                table.table.table-bordered.table-hover
                    thead
                        tr
                            th.center
                                input.select-all-rows(type='checkbox')
                            - each field in list_fields
                                th.table-header-repeat.line-left.minwidth-1
                                    a(href='#{orderLink(field)}') #{fieldLabel(field)}

                            - if (cloneable)
                                th &nbsp;
                    tbody(class='#{sortable?'sortable':''}')
                        - each doc in documents
                            - var url = rootPath + '/model/' + model_name + '/document/' + doc._id
                            tr(id=doc._id)
                                td.span1.center
                                    input.select-row(type='checkbox')
                                    - if (sortable)
                                        .list-drag
                                            i.icon-resize-vertical

                                - each field in list_fields
                                    td.span3(class='#{field == 'picture'?'picture':''}')
                                        - if (field == 'picture')
                                            - if (doc[field] && doc[field].public_id)
                                                a(href=url)
                                                    img(src=cloudinary.url(doc[field].public_id + '.png', { width: 80, height: 80, crop: 'fill' }))
                                        - else if (editable)
                                            a(href=url) #{doc[field]}
                                        - else
                                            p #{doc[field]}

                                td.span2.btn-group
                                    a.btn.btn-primary(href=url) Edit
                                    - if (cloneable)
                                        a.btn(href=url+'?clone=true') Duplicate

                p.counter Viewing #{start+1}–#{start + documents.length} of #{total_count} documents
                - if (total_count > count)
                    .pagination
                        ul
                            - for (var i = 0, page = 1; i < total_count; i += count, page++)
                                - if (start == i)
                                    li.active
                                        span #{page}
                                - else if (start/count <= page+5 && start/count >= page-5 || i == 0 || i+count >= total_count)
                                    li
                                        a(href='#{makeLink("start",i)}') #{page}

        - if (filters.length)
            #filters.span3.well
                h3
                    i.icon-filter
                    | Filters
                    small.pull-right
                        a(href='#{rootPath}/model/#{model_name}') Clear

                ul.nav.nav-list
                    - each filter in filters
                        li.nav-header
                            strong #{filter.key}:
                        - if (current_filters[filter.key])
                            li
                                a(href='#{makeLink(filter.key,"")}') All
                        - else
                            li.active
                                strong All
                        - each value in filter.values
                            - if (value)
                                li
                                    - if (current_filters[filter.key] !== String(value.value) )
                                        a(href='#{makeLink(filter.key, value.value)}') #{value.text}
                                    - else
                                        strong #{value.text}

                        - if (filter.isString)
                            div
                                input(type='text',style='width:217px; !important ',name='#{filter.key}',value='#{current_filters[filter.key] || ""}')
                                button.free_search(data-href='#{makeLink(filter.key, "__replace__")}') search

block scripts
    script.
        var startIndex = #{start},
            model = '#{model_name}';

    script(src="#{rootPath}/js/lib/bootbox.min.js")
    script(src="#{rootPath}/js/model.js")
