extends layout.jade

block body
    - each section in sections
        div(class=(sections.length > 1 ? 'section' : ''))
            - if (sections.length > 1)
                h2
                    span #{section.name}
            ul.models
                - each model in section.models
                    - var url = rootPath + '/model/' + model.modelName
                    li
                        .btn-group.pull-right
                            - if (model.is_single)
                                a.btn.btn-default(href='#{url}/document/single') Edit
                            - else
                                a.btn.btn-info(href=url)
                                    span(id='viewAll_#{model.modelName}') View All
                                a.btn.btn-default(href='#{url}/document/new') New
                        a(href=url + (model.is_single ? '/document/single' : ''))
                            h3 #{model.label}

block scripts
    script(src="#{rootPath}/js/models.js")
    script(type='text/javascript').
        $.getJSON('http://registry.npmjs.org/formage/latest?jsonp=?').done(function (pack) {
            var version = '#{version}';
            var latest = pack.version;
            if (latest > version)
                $('#old-version').show('slow');
        });
