extends layout.jade

block body
    div.bs-example
        ul.sections.list-group
            - each section in sections
                li.section.list-group-item
                    div.panel.panel-default
                        div.panel-heading
                            h3 #{section.name}
                    div.panel-body
                        ul.models
                            - each model in section.models
                                - var url = rootPath + '/model/' + model.modelName
                                    li
                                        .btn-group.pull-right
                                            - if (model.is_single)
                                                a.btn.btn-default(href='#{url}/document/single') Edit
                                            - else
                                                a.btn.btn-info(href=url)
                                                    span(id='viewAll_#{model.modelName}') View All
                                                a.btn.btn-default(href='#{url}/document/new') New
                                        a(href=url + (model.is_single ? '/document/single' : ''))
                                            h3 #{model.label}

block scripts
    script(src="#{rootPath}/js/models.js")
