extends layout

block body
    .page-header
        h2 Model List
    ul.models
        - each model in models
            - var url = rootPath + '/model/' + model.modelName
            li
                .btn-group.pull-right
                    - if (model.is_single)
                        a.btn(href='#{url}/document/single') Edit
                    - else
                        a.btn(href='#{url}/document/new') New
                        a.btn.btn-info(href=url)
                            span(id='viewAll_#{model.modelName}') View All
                a(href=url + (model.is_single ? '/document/single' : ''))
                    h3 #{model.model.label}


block scripts
    script(src="#{rootPath}/js/models.js")
